body{
    background-color: hsl(217, 28%, 15%);
    color: white;
    
}
nav, .illus{
    margin: 0;
}
/*nav section*/
nav{
    box-sizing: border-box;
    width: 100%;
    height: 8rem;
    display: flex;
    padding: 0 1rem;
    padding-top: 2rem;
    background-color: hsl(217, 28%, 15%);
}
.nav-container{
    box-sizing: border-box;
    width: 50%;
    height: 50px;
    margin: 0;
    padding-left: 2rem;
 
}
.menu{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content:end;
}
nav>div>div>a{
    box-sizing: border-box;
    height: 30px;
    margin-right: 1.875rem;
    width:auto;
    text-align:center;
    padding-top: 0.3125rem;
    font-family: 'Raleway';
    font-weight:400;
    color: #ffffff;
    transition: all 0s;
}
a{
    text-decoration: none;
    color:#ffffff;
}
nav>div>div>a:hover{
    font-weight: 700;
    text-decoration: underline;
}

.illus{
    box-sizing: border-box;
    justify-content: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 55.125rem;
    padding-top: 1rem;
    background-color:hsl(217, 28%, 15%);
    }
/*header Section*/

header{
    box-sizing: border-box;
    background-image: url('../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:hsl(217, 28%, 15%)
       
}
header>div{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}

#header{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 50%;
    height: 30rem;
    text-align: center;
    
}

.child1{
    width: 100%;
}
h2{
    font-family: 'Raleway';
    font-size: 3rem;
    font-weight: 700;
}

.header-cont-3{
    box-sizing: border-box;
    width: 60%;
    height: 11rem;
    width: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: all 0s;
}

.buttons{
    box-sizing: border-box;
    width: 40%;
    height: 6rem;
    background-image:linear-gradient(to right, #65e2d9, #339ecc);
    border-radius: 20px;
    padding-top: 6px; 
    transition: all 0s;
}
.buttons:active{
    background-color: #65e2d9;
}
div.buttons>a{
    color:white;
    font-size: .875rem;
    font-weight: 400px;
    font-family: 'Raleway';
    transition: all 0s;
}
div.buttons>a:hover{
    font-weight: 700;
    
}


/* Main */
main{
    background-color: #181f2a;
    display: flex;
    flex-flow: column;
    height: 140rem;
}
section.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
}
div.top, div.bottom{
    display: flex;
    width: 50%;
    align-items: center;
}
div.body-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 4rem;
    margin: 0 3rem;
    width: 100%;
}
h3{
    font-family: 'Raleway';
    font-size: 14px;
}
.small{
    font-size: 12px;
    justify-content: center;
}
.paragraph{
    text-align: center;
    width:100%;
}

/* Main/productivity-display */
section.productive{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
section>div.container-3{
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items:flex-start;
    justify-content: right;
    margin: 3rem;
  
}
#prodimg{
    width: 100%;
    height: 35rem;
}
.right{
    justify-content: start;
}
.half{
    width: 70%;
}
.size{
    width: 78%;
}
span{
    color: #65e2d9;
    transition: all 0s;
    justify-content: center;
    align-items: center;
}
span:active{
    color: #ffffff;
}


/* Main/Testimonial */

section.testimonial{
    display: flex;
    padding: 2rem 10rem;
}
.testimonies{
    display: flex;
    padding-left: 5px;
    justify-content: space-around;
}
.testimony{
    background-color: #202a3c;
    padding: 2rem;
    margin:  0 2rem 0 0;
    border-radius: 5px;
}
.img{
    height: 35px;
}

.person{
    border-radius: 100px;
    height: 60px;
}
.cont1{
    display: flex;
    border-top: 3rem;
    justify-content: start;
    align-items: left;
}
.expression{
    height: 8rem;
}
.dp{
    box-sizing: border-box;
    border-radius: 10%;
}
.dp, .details{
    margin-right: 2rem;
  
}
.details{
    height: 60px;
    padding: 0;
}
.name{
    font-weight: 700;
}


/*  Main / Sign-up */
select.scontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.scontainer>div{
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    z-index: 1;
    right: 10%;
    left:20%;
    top:218rem;
    background-color: #1c2431;
    width:50%;
    height: 23rem;
    padding: 0 5rem 0 5rem;
    border-radius: 5px;
    box-shadow: 1px 1px hsl(218, 28%, 13%);

}
section.scontainer>div>div{
    display: flex;
    align-content: center;
    justify-content: center;
  
}
#intro{
    text-align: center;
}
#signup{
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    justify-content: center;

}
#signup>div{
    margin-right:1rem ;
}
.form{
    box-sizing: border-box;
    width: 70%;
    height: 30px;
    justify-content: end;
    align-items: flex-end;
    padding-left: 3rem;
    
}
input{
    width: 85%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
}
#blue{
    width: 25%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #65e2d9;
    justify-content: start;
    align-items: flex-start;
    padding-right: 3rem;
    transition: all 0s;
    padding-left: 3rem;

}
#blue:active{
    background-color: #339ecc;
}
   

/* Footer */

footer{
    padding: 10rem 0 0 10rem ;
    background-color: #0b1523;
    display: flex;
    flex-direction: column;    
}
.fylo{
    width: 8rem;
}
#fcontainer{
    display: flex;
    padding-top: 5rem;
    align-items: flex-start;
}
#fcontainer>div{
   
    margin-right: 8rem;
}
#f1{
    
    width: 23%;
    display:flex ;

}
#f1>div{
    
    margin-right: 1rem;
}
.locationicon{
    padding-top: 1.3rem;
}
.text{
    width: 100%;
}
#f2{
    display: flex;
    flex-direction: column;
    width: 15%;
 
}
#f2>div{
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-items: first baseline;
}
#f2>div>div{
    margin-right: 1rem;
    padding-bottom: 1rem;
    height: 2rem;
    
}
.emaillogo{
    padding-top: 1.2rem;
}
#f5{
    display: flex;
    justify-items: first baseline;
    padding-top: 1.5rem;
}
#f5>div{
    box-sizing: border-box;
    border: solid 1px #ffffff;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    align-content: center;
    padding-left: .5rem;
    padding-top: .4rem;
    transition: all 0s;
}
#f5>div:active{
    border: solid 1px #65e2d9;
}

@media screen and (max-width: 764px){
    body{
        width: 100%;
    }
    nav{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        height: 5rem;
    }
    .nav-container{
        width: 70%;
        height: auto;
    }
    #logo{
        width: 30%;
    }
    .logosize{
        width: 8rem;
    }
    .menu{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    header{
        width: 100%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background: url('../images/bg-curvy-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(217, 28%, 15%);
        padding-top: 10rem;
        
    }
    header>div{
        width: inherit;
        justify-content:center;
        align-items: center;
        padding: 1rem 2rem ;
    }
    .illus{
        
    }
    .illus{
        box-sizing: border-box;
        justify-content: center;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 35rem;
        padding-top: 1rem;
        
        }
    .illus>img{
        width: 40rem;
        height: 35rem;
    }
    #header{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 70%;
        height: 30rem;
        padding-top: 0;
    }
    .child1{
        display: flex;
        width: 300px;
        overflow: auto;
    }
    h2{
        font-size: 2rem;
    }
    .header-cont-3{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 280px;
        height: auto;
    }
    .buttons{
        box-sizing: border-box;
        background-color: #65e2d9;
        width: 80%;
        height: 40px;
        align-items: center;
        justify-content: center;
        padding-top: 12px;
    }
    main{
        width: 100%;
        height: 240rem;
        padding-top: 10rem;
    }
    section.container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-items: center;
        align-items: center;
    }
    div.top, div.bottom{
        display: flex;
        width: 100%;
        align-items: center;
        flex-flow: column;
    }
    div.body-container{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding-top: 4rem;
        margin: 2rem 0;
        width: 260px;
    }
    section.productive{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        flex-flow: column;
    }
    section>div.container-3{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        margin: 2rem;
      
    }
    #prodimg{
        width: 25rem;
        height: 20rem;
    }
    .prodimg{
        align-self:center;
        justify-content: center;
    }
    .right{
        justify-content: start;
        align-items: flex-start;
    }
    .half{
        width: 300px;
        padding: 0;

    }
    .half>h2{
        font-size: 16px;
        text-align:left;
        padding: 0;
    }
    .size{
        width: 300px;
        justify-content: left;
        align-items: left   ;
    
    }
    .size>p {
        text-align: left;
    }
    
    section.testimonial{
        display: flex;
        flex-flow: column;
        padding-left: 10rem;
        align-items: center;
        justify-content: center;
       
    
        
    }
    .testimonial>div{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        
    }
    .img{
        align-items: flex-start;
        
        width: 100%;
        height: 20px;
    }
    .img>img{
        height: 20px;
    }
    .testimonies{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;   
    }
    .testimony{
        background-color: #202a3c;
        padding: 2rem;
        margin-bottom:  2rem;
    }
    .details{
        height: 40px;
        padding: 0;
       
    }
    .details>div{
        height: 20px;
    }
    .dp, .details{
        margin-right: 1rem;
    }
    .dp{
        padding-top: 10px;
    }
    .expression{
        width: 185px;
        margin-bottom: 2rem;
    }



    select.scontainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.scontainer>div{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        position: absolute;
        z-index: 1;
        right: 15%;
        left:15%;
        top:297rem;
        background-color: #1c2431;
        width:50%;
        height: auto;
        
    
    }
    section.scontainer>div>div{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    #intro{
        text-align: center;
        width: 280px;
        align-self: center;
    }
    .access{
        width: 100%;
        justify-content: center;
    }
    .access>h2{
        font-size: 16px;
    }
    #signup{
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        width: 280px;
        align-self: center;
        padding-top: 5px;
        justify-content: start;
       
    }
    #blue{
        width: 280px;
        height: 40px;
        box-sizing: border-box;
        text-align: center;
        
    }
    #signup>div{
        margin-bottom:1rem ;
        align-items:flex-start;
        justify-content: left;
    }
    .form{
        width: 280px;
        height: 40px;
        box-sizing: border-box;
        text-align: center;
        align-self: flex-start;
        padding-left: 0;
    }
    input{
        width: 280px;
        height: 40px;
        box-sizing: border-box;
        text-align: center;
        align-self: flex-start;
    }
    footer{
        padding: 20rem 0 0 1.5rem ;
        background-color: #0b1523;
        display: flex;
        flex-direction: column;   
        align-items: center;
        justify-content: center; 
        
    }
    .flogo{
        
        align-self: center;
        justify-self: center;
        justify-content: start;
        margin-bottom: 2rem;
        width: 280px;
        align-items: flex-start;
        

    }
    .fylo{
        width: 10rem;
        
    }
    #fcontainer{
        display: flex;
        padding-top: 5rem;
        align-items: flex-start;
        justify-content: start;
        flex-flow: column;
      
    }
    #fcontainer>div{
        margin-bottom: 2rem;
        width: 280px;
        align-items: flex-start;
        
    }
    .text{
        width: 200px;
    }
    #f5{
        align-self: center;
        justify-content: center;
        
    }
    

    
}